In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv("/content/xns.csv")

In [ ]:
df

,#,ID,Date,Description,Mode,Category,Sub Category,Amount,Balance,FCU Identified
0,1,1,14-Oct-21,UPI/928511794450/NO REMARKS/mryadav5008@upi/Al...,upi,other credit,other,3000.00,4218.31,NaN
1,2,2,14-Oct-21,IPS/MASTER FUEL/202110131237/000000000980/GURGAON,ips,expenses,fuel,-310.00,3908.31,NaN
2,3,3,14-Oct-21,NFS/S1ANMA96/CASH WDL/13-10-19,atm,withdrawal,other,-3000.00,908.31,NaN
3,4,4,14-Oct-21,APBS/IOC Ref No3000037634/9111087652772,other,subsidy,other,64.62,972.93,NaN
4,5,5,15-Oct-21,BIL/RCHG/001824020478/Vodafone -/9386178468,bill online,expenses,recharge,-26.00,946.93,NaN
...,...,...,...,...,...,...,...,...,...,...
371,372,372,29-Jun-22,BIL/RCHG/001788909389/Airtel DTH/3018748260,bill online,expenses,recharge,-345.00,233524.98,NaN
372,373,373,29-Jun-22,BIL/RCHG/001789051693/Airtel -D/9821315054,bill online,expenses,recharge,-399.00,233125.98,NaN
373,374,374,30-Jun-22,IPS/NAVYUG FUEL/202109031424/000000000960/G UR...,ips,expenses,fuel,-307.68,232818.98,Account not Tally
374,375,375,01-Jul-22,VISA REF BP 38,visa,reversal credit,other,2.33,232816.65,Account not Tally
375,376,376,01-Jul-22,NFS/01565122/CASH WDL/04-09-19,atm,withdrawal,other,-1000.00,231816.65,Discontinuity in credits/ receivables

In [ ]:
len(np.unique(df['Mode']))

29

In [ ]:
np.unique(df['Mode'])

array(['ach', 'atm', 'bank account', 'bill online', 'card', 'cash',
       'cheque', 'cms', 'eba', 'ecs', 'imps', 'inb', 'inft', 'ips',
       'mandate', 'neft', 'net banking', 'other', 'pcd', 'pci', 'pos',
       'rtgs', 'sak', 'standing instruction', 'terminal', 'transfer',
       'upi', 'visa', 'vps'], dtype=object)

In [ ]:
len(np.unique(df['Category']))

29

In [ ]:
np.unique(df['Category'])

array(['Salary (analysed)', 'bounce inward', 'bounce outward',
       'card settlement', 'cashback', 'charges', 'deposit', 'donation',
       'expenses', 'income', 'insurance debit', 'investment payin',
       'investment payout', 'loan', 'loan disbursed', 'other credit',
       'other debit', 'payin wallet', 'payout', 'reimbursement',
       'reversal', 'reversal credit', 'reward', 'salary paid', 'subsidy',
       'tax debit', 'to account debit', 'validation credit', 'withdrawal'],
      dtype=object)

In [ ]:
df[['Mode','Category']]

            Mode         Category
0            upi     other credit
1            ips         expenses
2            atm       withdrawal
3          other          subsidy
4    bill online         expenses
..           ...              ...
371  bill online         expenses
372  bill online         expenses
373          ips         expenses
374         visa  reversal credit
375          atm       withdrawal

[376 rows x 2 columns]

In [ ]:
filtered_df = df[(df['Mode'] == 'ips') & (df['Category'] == 'expenses')]

# Display the filtered DataFrame
print(filtered_df)

       #   ID       Date                                        Description  \
1      2    2  14-Oct-21  IPS/MASTER FUEL/202110131237/000000000980/GURGAON
41    42   42  26-Nov-21  IPS/AUTO CARE C/202111260943/000000011826/GUR ...
45    46   46  30-Nov-21  IPS/AUTO CARE C/202111301240/000000012981/GUR ...
112  113  113  02-Jan-22  IPS/RAJAN AUTO /202001111654/000000000032/GURG...
128  129  129  07-Jan-22  IPS/AUTO CARE C/202002071021/000000012447/GUR ...
207  208  208  28-Apr-22  IPS/NAVYUG FUEL/202006271305/000000002550/G UR...
216  217  217  03-May-22  IPS/AUTO CARE C/202007151323/000000001932/GUR ...
373  374  374  30-Jun-22  IPS/NAVYUG FUEL/202109031424/000000000960/G UR...

    Mode  Category Sub Category  Amount    Balance     FCU Identified
1    ips  expenses         fuel -310.00    3908.31                NaN
41   ips  expenses     shopping -208.43    1051.10                NaN
45   ips  expenses     shopping -307.68   40737.52                NaN
112  ips  expenses     shopping -310.00    2566.23                NaN
128  ips  expenses     shopping -307.68    6408.03                NaN
207  ips  expenses         fuel -496.48   19602.12                NaN
216  ips  expenses     shopping -806.22    4376.02                NaN
373  ips  expenses         fuel -307.68  232818.98  Account not Tally

In [ ]:
filtered_df.shape

(8, 10)

In [ ]:
#only ips exsit how many time
ips_df = df[(df['Mode'] == 'ips')]
print(ips_df)
print(ips_df.shape)

       #   ID       Date                                        Description  \
1      2    2  14-Oct-21  IPS/MASTER FUEL/202110131237/000000000980/GURGAON
41    42   42  26-Nov-21  IPS/AUTO CARE C/202111260943/000000011826/GUR ...
45    46   46  30-Nov-21  IPS/AUTO CARE C/202111301240/000000012981/GUR ...
112  113  113  02-Jan-22  IPS/RAJAN AUTO /202001111654/000000000032/GURG...
114  115  115  02-Jan-22  IPS REF DT 12 01 2020 009901 HPCL 0 75 CASHLESS I
128  129  129  07-Jan-22  IPS/AUTO CARE C/202002071021/000000012447/GUR ...
207  208  208  28-Apr-22  IPS/NAVYUG FUEL/202006271305/000000002550/G UR...
216  217  217  03-May-22  IPS/AUTO CARE C/202007151323/000000001932/GUR ...
373  374  374  30-Jun-22  IPS/NAVYUG FUEL/202109031424/000000000960/G UR...

    Mode         Category Sub Category  Amount    Balance     FCU Identified
1    ips         expenses         fuel -310.00    3908.31                NaN
41   ips         expenses     shopping -208.43    1051.10                NaN
45   ips         expenses     shopping -307.68   40737.52                NaN
112  ips         expenses     shopping -310.00    2566.23                NaN
114  ips  reversal credit        other    2.32    2062.65                NaN
128  ips         expenses     shopping -307.68    6408.03                NaN
207  ips         expenses         fuel -496.48   19602.12                NaN
216  ips         expenses     shopping -806.22    4376.02                NaN
373  ips         expenses         fuel -307.68  232818.98  Account not Tally
(9, 10)

In [ ]:
#how many ach exist
ach_df = df[(df['Mode'] == 'ach')]
print(ach_df)
print(ach_df.shape)

       #   ID       Date                                        Description  \
27    28   28  14-Nov-21             ACH/AXAPK4225C-AY2021-20/CE19114741085
38    39   39  21-Nov-21                    ACH/INDUSIND BANK CFD/222681817
70    71   71  21-Dec-21                    ACH/INDUSIND BANK CFD/222681818
122  123  123  04-Jan-22                    ACH/INDUSIND BANK CFD/222681819
141  142  142  21-Jan-22                    ACH/INDUSIND BANK CFD/222681820
169  170  170  03-Feb-22                    ACH/INDUSIND BANK CFD/222681804
217  218  218  04-May-22                    ACH/INDUSIND BANK CFD/222681808
223  224  224  06-May-22  ach d- adity birla finance-abflchnpl0000 (ref#...
247  248  248  12-May-22  ach d-plemioctober21-ytn19crl99zm (ref# 565257...
254  255  255  14-May-22  ach d- grayquest education-grayquest932j (ref#...

    Mode       Category        Sub Category   Amount    Balance FCU Identified
27   ach         income            dividend   7220.0   46696.43            NaN
38   ach    other debit               other  -3573.0    3674.53            NaN
70   ach    other debit               other  -3573.0    7900.40            NaN
122  ach    other debit               other  -3573.0    9741.18            NaN
141  ach    other debit               other  -3573.0    6898.66            NaN
169  ach    other debit               other  -3573.0   30715.87            NaN
217  ach    other debit               other  -3573.0     803.02            NaN
223  ach  bounce inward  funds insufficient  15000.0    9904.02            NaN
247  ach           loan            personal  -3939.0  586345.25            NaN
254  ach           loan           education -22985.0  438134.56            NaN
(10, 10)

In [ ]:
#how many atm exist
atm_df = df[(df['Mode'] == 'atm')]
print(atm_df)
print(atm_df.shape)

       #   ID       Date                                        Description  \
2      3    3  14-Oct-21                     NFS/S1ANMA96/CASH WDL/13-10-19
7      8    8  17-Oct-21                     NFS/S1ANND07/CASH WDL/17-10-19
16    17   17  28-Oct-21                     ATMDEC CHG/13-10-2021/1560+GST
17    18   18  28-Oct-21                     ATM/SPCND037/CASH WDL/27-10-19
26    27   27  11-Nov-21                     NFS/ID102001/CASH WDL/11-11-19
104  105  105  31-Dec-21                     NFS/MC003187/CASH WDL/03-01-20
300  301  301  01-Jun-22  rem chrgs:atm cw fee-dom/xx6926/723300000000/1...
301  302  302  01-Jun-22                                  atm usage charges
318  319  319  07-Jun-22  atm/debit pin regen chrgs dtd 13/ 151121-mir22...
321  322  322  07-Jun-22  charge:cash wdl other bank atm/inv291021197257...
322  323  323  07-Jun-22  limit exceed atm charges in other banks (ref# ...
323  324  324  10-Jun-22                   non scb atm usage charges mar 21
324  325  325  10-Jun-22                         atm txn other bank charges
325  326  326  10-Jun-22  atm wdl charges oth bank chgs balenq 125015004...
341  342  342  22-Jun-22                                    atm enq charges
375  376  376  01-Jul-22                     NFS/01565122/CASH WDL/04-09-19

    Mode    Category            Sub Category   Amount    Balance  \
2    atm  withdrawal                   other  -3000.0     908.31
7    atm  withdrawal                   other -10000.0     636.93
16   atm     charges                 decline    -29.5    9662.83
17   atm  withdrawal                   other  -1000.0    8662.83
26   atm  withdrawal                   other -10000.0   39476.43
104  atm  withdrawal                   other -10000.0    5090.25
300  atm     charges              withdrawal     -7.5  563265.12
301  atm     charges                   usage    -70.8  563194.32
318  atm     charges        pin regeneration    -59.0  562163.81
321  atm     charges   other bank withdrawal    -20.0  562098.91
322  atm     charges  other bank transaction    -11.8  562087.11
323  atm     charges               low usage    -20.0  562067.11
324  atm     charges  other bank transaction    -20.0  562047.11
325  atm     charges              withdrawal    -24.0  562023.11
341  atm     charges                 enquiry    -12.0  543386.97
375  atm  withdrawal                   other  -1000.0  231816.65

                            FCU Identified
2                                      NaN
7                                      NaN
16                                     NaN
17                                     NaN
26                                     NaN
104                                    NaN
300                                    NaN
301                                    NaN
318                                    NaN
321                                    NaN
322                                    NaN
323                                    NaN
324                                    NaN
325                                    NaN
341                                    NaN
375  Discontinuity in credits/ receivables
(16, 10)

In [ ]:
mode_category_mapping = df.groupby('Mode')['Category'].unique().to_dict()
for mode, categories in mode_category_mapping.items():
  print(f"{mode}: {categories}")

ach: ['income' 'other debit' 'bounce inward' 'loan']
atm: ['withdrawal' 'charges']
bank account: ['payin wallet']
bill online: ['expenses']
card: ['charges']
cash: ['deposit']
cheque: ['other credit' 'deposit' 'charges' 'bounce outward' 'bounce inward']
cms: ['loan' 'loan disbursed' 'income']
eba: ['charges']
ecs: ['charges']
imps: ['loan' 'other debit' 'Salary (analysed)' 'other credit'
 'validation credit' 'reversal credit' 'bounce inward']
inb: ['expenses' 'charges' 'other debit']
inft: ['other credit' 'other debit']
ips: ['expenses' 'reversal credit']
mandate: ['charges']
neft: ['loan disbursed' 'investment payout' 'other debit' 'income'
 'bounce inward']
net banking: ['investment payin']
other: ['subsidy' 'loan' 'tax debit' 'income' 'withdrawal' 'loan disbursed'
 'investment payout' 'donation' 'charges' 'expenses' 'validation credit']
pcd: ['expenses']
pci: ['expenses']
pos: ['charges' 'expenses']
rtgs: ['charges']
sak: ['deposit']
standing instruction: ['investment payin' 'bounce inward']
terminal: ['card settlement']
transfer: ['reimbursement' 'subsidy' 'loan' 'investment payout']
upi: ['other credit' 'income' 'other debit' 'cashback' 'expenses' 'payout'
 'to account debit' 'salary paid' 'reward' 'reversal' 'loan disbursed'
 'loan' 'investment payin' 'insurance debit']
visa: ['reversal credit' 'reversal']
vps: ['other debit' 'reversal credit' 'expenses' 'reversal']

In [ ]:
import pandas as pd
import re

# Sample DataFrame based on the description you provided
data = {
    'Description': [
        'NFS/S1ANMA96/CASH WDL/13-10-19',
        'NFS/S1ANND07/CASH WDL/17-10-19',
        'ATMDEC CHG/13-10-2021/1560+GST',
        'ATM/SPCND037/CASH WDL/27-10-19',
        'NFS/ID102001/CASH WDL/11-11-19',
        'NFS/MC003187/CASH WDL/03-01-20',
        'rem chrgs:atm cw fee-dom/xx6926/723300000000/1...',
        'atm usage charges',
        'atm/debit pin regen chrgs dtd 13/ 151121-mir22...',
        'charge:cash wdl other bank atm/inv291021197257...',
        'limit exceed atm charges in other banks (ref# ...',
        'non scb atm usage charges mar 21'
    ]
}

# Create DataFrame
df = pd.DataFrame(data)

# Function to categorize based on description
def categorize(description):
    # Check for both 'NFS' and 'CASH WDL' in the description
    if re.search(r'nfs', description, re.IGNORECASE) and re.search(r'cash wdl', description, re.IGNORECASE):
        return 'Withdrawal'
    else:
        return 'Charges'

# Apply the function to the 'Description' column
df['Category'] = df['Description'].apply(categorize)

# Show the resulting DataFrame
print(df)

                                          Description    Category
0                      NFS/S1ANMA96/CASH WDL/13-10-19  Withdrawal
1                      NFS/S1ANND07/CASH WDL/17-10-19  Withdrawal
2                      ATMDEC CHG/13-10-2021/1560+GST     Charges
3                      ATM/SPCND037/CASH WDL/27-10-19     Charges
4                      NFS/ID102001/CASH WDL/11-11-19  Withdrawal
5                      NFS/MC003187/CASH WDL/03-01-20  Withdrawal
6   rem chrgs:atm cw fee-dom/xx6926/723300000000/1...     Charges
7                                   atm usage charges     Charges
8   atm/debit pin regen chrgs dtd 13/ 151121-mir22...     Charges
9   charge:cash wdl other bank atm/inv291021197257...     Charges
10  limit exceed atm charges in other banks (ref# ...     Charges
11                   non scb atm usage charges mar 21     Charges

##using function

In [8]:
import pandas as pd
import re

# Load the CSV file
file_path = '/content/xns.csv'

df = pd.read_csv(file_path)

df

,#,ID,Date,Description,Mode,Category,Sub Category,Amount,Balance,FCU Identified
0,1,1,14-Oct-21,UPI/928511794450/NO REMARKS/mryadav5008@upi/Al...,upi,other credit,other,3000.00,4218.31,NaN
1,2,2,14-Oct-21,IPS/MASTER FUEL/202110131237/000000000980/GURGAON,ips,expenses,fuel,-310.00,3908.31,NaN
2,3,3,14-Oct-21,NFS/S1ANMA96/CASH WDL/13-10-19,atm,withdrawal,other,-3000.00,908.31,NaN
3,4,4,14-Oct-21,APBS/IOC Ref No3000037634/9111087652772,other,subsidy,other,64.62,972.93,NaN
4,5,5,15-Oct-21,BIL/RCHG/001824020478/Vodafone -/9386178468,bill online,expenses,recharge,-26.00,946.93,NaN
...,...,...,...,...,...,...,...,...,...,...
371,372,372,29-Jun-22,BIL/RCHG/001788909389/Airtel DTH/3018748260,bill online,expenses,recharge,-345.00,233524.98,NaN
372,373,373,29-Jun-22,BIL/RCHG/001789051693/Airtel -D/9821315054,bill online,expenses,recharge,-399.00,233125.98,NaN
373,374,374,30-Jun-22,IPS/NAVYUG FUEL/202109031424/000000000960/G UR...,ips,expenses,fuel,-307.68,232818.98,Account not Tally
374,375,375,01-Jul-22,VISA REF BP 38,visa,reversal credit,other,2.33,232816.65,Account not Tally
375,376,376,01-Jul-22,NFS/01565122/CASH WDL/04-09-19,atm,withdrawal,other,-1000.00,231816.65,Discontinuity in credits/ receivables

In [9]:
df.drop(['Mode', 'Category'], axis=1)

,#,ID,Date,Description,Sub Category,Amount,Balance,FCU Identified
0,1,1,14-Oct-21,UPI/928511794450/NO REMARKS/mryadav5008@upi/Al...,other,3000.00,4218.31,NaN
1,2,2,14-Oct-21,IPS/MASTER FUEL/202110131237/000000000980/GURGAON,fuel,-310.00,3908.31,NaN
2,3,3,14-Oct-21,NFS/S1ANMA96/CASH WDL/13-10-19,other,-3000.00,908.31,NaN
3,4,4,14-Oct-21,APBS/IOC Ref No3000037634/9111087652772,other,64.62,972.93,NaN
4,5,5,15-Oct-21,BIL/RCHG/001824020478/Vodafone -/9386178468,recharge,-26.00,946.93,NaN
...,...,...,...,...,...,...,...,...
371,372,372,29-Jun-22,BIL/RCHG/001788909389/Airtel DTH/3018748260,recharge,-345.00,233524.98,NaN
372,373,373,29-Jun-22,BIL/RCHG/001789051693/Airtel -D/9821315054,recharge,-399.00,233125.98,NaN
373,374,374,30-Jun-22,IPS/NAVYUG FUEL/202109031424/000000000960/G UR...,fuel,-307.68,232818.98,Account not Tally
374,375,375,01-Jul-22,VISA REF BP 38,other,2.33,232816.65,Account not Tally
375,376,376,01-Jul-22,NFS/01565122/CASH WDL/04-09-19,other,-1000.00,231816.65,Discontinuity in credits/ receivables

In [10]:

def categorize_transaction(description, amount):
    description = description.lower()

    if re.search(r'nfs.*cash wdl', description):
        return 'withdrawal', 'atm'
    elif re.search(r'upi', description):
        return 'other credit', 'upi'
    elif re.search(r'ips', description):
        return 'expenses', 'ips'
    elif re.search(r'atm.*usage.*charge', description):
        return 'charges', 'atm'
    elif re.search(r'bill|rchg|recharge', description):
        return 'expenses', 'bill online'
    elif re.search(r'subsidy|apbs', description):
        return 'subsidy', 'other'
    elif float(amount) < 0:
        return 'expenses', 'other'
    else:
        return 'other credit', 'other'


df[['Category_Predicted', 'Mode_Predicted']] = df.apply(
    lambda row: categorize_transaction(row['Description'], row['Amount']), axis=1, result_type="expand"
)

print(df[['Description', 'Amount', 'Balance', 'Category_Predicted', 'Mode_Predicted']])

                                           Description   Amount    Balance  \
0    UPI/928511794450/NO REMARKS/mryadav5008@upi/Al...  3000.00    4218.31
1    IPS/MASTER FUEL/202110131237/000000000980/GURGAON  -310.00    3908.31
2                       NFS/S1ANMA96/CASH WDL/13-10-19 -3000.00     908.31
3              APBS/IOC Ref No3000037634/9111087652772    64.62     972.93
4          BIL/RCHG/001824020478/Vodafone -/9386178468   -26.00     946.93
..                                                 ...      ...        ...
371        BIL/RCHG/001788909389/Airtel DTH/3018748260  -345.00  233524.98
372         BIL/RCHG/001789051693/Airtel -D/9821315054  -399.00  233125.98
373  IPS/NAVYUG FUEL/202109031424/000000000960/G UR...  -307.68  232818.98
374                                     VISA REF BP 38     2.33  232816.65
375                     NFS/01565122/CASH WDL/04-09-19 -1000.00  231816.65

    Category_Predicted Mode_Predicted
0         other credit            upi
1             expenses            ips
2           withdrawal            atm
3              subsidy          other
4             expenses    bill online
..                 ...            ...
371           expenses    bill online
372           expenses    bill online
373           expenses            ips
374       other credit          other
375         withdrawal            atm

[376 rows x 5 columns]